[submodule "totem-v3-orchestrator"]
	path = modules/totem-v3-orchestrator
	url = https://github.com/totem/totem-v3-orchestrator.git
	branch = develop
[submodule "totem-v3"]
	path = modules/totem-v3
	url = https://github.com/totem/totem-v3.git
	branch = develop
